.h-30{
    height: 150px;
}

.rodape{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
}
.tm-social{
    height: 35px;
}


#menu {
    /* background-color: #ffffff; */
    display: table;
    width: 100%;
}

#menu ul li {
    target: "_blank"
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 5px 20px;
    font: 13px verdana, sans-serif;
    color: rgb(0, 0, 0);
    /* background-color: #ffffff; */
    text-decoration: none;
    float: left;
}

#menu ul li a:hover {
    color: #000000;
    background: rgb(255, 210, 234);
}
.mb-50{
    margin-bottom: 50px;
}

